
      body {
        /* Default text settings */
        /* Type weight 100-900 in 100 increments; Medium is 500: http://www.webtype.com/info/articles/fonts-weights/ */
        font-size: 22px;
        line-height: 170%;
        font-weight: 400;
        color: #ccc;
      }

      body > * {
        padding: 0 140px;
      }

      header {
        height: 120px;
        flex: 0 0 auto;
        display: flex;
        align-items: center;
      }

      header a,
      footer a {
        text-decoration: none;
      }

      header nav {
        width: 100%;
      }

      .nav-menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-end;
      }

      .nav-menu li {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      header nav a {
        margin-left: 40px;
      }

      .nav-menu-button {
        display: none;
      }

      .primary-link-button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 12px 24px;
        font-size: 22px;
        line-height: 22px;
        text-align: center;
        white-space: nowrap;
        text-decoration: none;
        border-radius: 9999px;
        background: #ff4700;
      }

      .primary-link-button.glow {
        --glow: 0px 0px 100px rgba(255, 71, 0, 0.2);
        --glow-hover: 0px 0px 25px 0px rgba(255, 71, 0, 0.4);

        box-shadow: var(--glow);
        transition-property: opacity, box-shadow;
        transition-duration: 0.175s;
      }

      .primary-link-button.glow:hover {
        box-shadow: var(--glow-hover);
      }

      #logotype {
        height: 40px;
        width: auto;
        /* Prevent extra space below a nested image. */
        display: block;
      }

      .banner {
        display: flex;
        align-items: center;
        margin: 24px auto 0 auto;
        flex: 0 0 auto;
        min-height: 44px;
        padding: 0 24px 1px 24px;
        background: #161412;
        border: none;
        border-radius: 4px;
        box-shadow: inset 0px 0px 0px 0.5px rgba(255, 71, 0, 0.5), 0 0 28px rgba(255, 72, 0, 0.2);
        color: #fff;
        line-height: 1;
        cursor: pointer;
        outline: none;
        font-size: 15px;
        font-weight: 400;
        text-decoration: none;
        letter-spacing: 0.15px;
        transition: 0.175s box-shadow;
      }

      .banner:hover {
        box-shadow: inset 0px 0px 0px 0.5px rgba(255, 71, 0, 0.75), 0 0 28px rgba(255, 72, 0, 0.2);
      }

      main {
        margin: 0px;
        flex: 1 0;
        display: flex;
        flex-direction: column;
      }

      footer {
        flex: 0 0 auto;
        min-height: 120px;
        background-color: #0f0d0a;
        padding-top: 20px;
        padding-bottom: 40px;
      }

      h1 {
        font-size: 140px;
        line-height: 90%;
        letter-spacing: -3px;
        color: #fff;
        margin: 0px 0px 40px 0px;
      }

      h2 {
        font-size: 40px;
        font-weight: 600;
        line-height: 120%;
        color: #fff;
        margin: 0;
        text-transform: unset;
        letter-spacing: unset;
        margin: 0 0 20px 0;
      }

      h4 {
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 3px;
        text-transform: uppercase;
        opacity: 0.8;
        margin: 20px 0;
      }

      p {
        margin: 0 0 20px 0;
      }

      a {
        text-decoration: underline;
      }

      strong {
        font-weight: 600;
        color: #fff;
      }

      img,
      video {
        width: 100%;
      }

      video {
        border-radius: 16px;
        margin: 20px 0;
      }

      .content {
        max-width: 1000px;
        margin: 80px 0;
      }

      .cta {
        padding: 40px 0 100px 0;
      }

      .left {
        align-self: flex-start;
      }

      .left img {
        order: -1;
      }

      .right {
        align-self: flex-end;
      }

      .horizontal {
        display: flex;
        align-items: center;
      }

      .horizontal.left .text {
        margin: 0 0 0 40px;
      }

      .horizontal.right .text {
        margin: 0 20px 0 0;
      }

      .primary {
        color: #fa0;
      }

      .symbol {
        opacity: 0.7;
      }

      .nobr {
        white-space: nowrap;
      }

      ul.integrations {
        list-style-type: none;
        margin: -12px 0 0 50px;
        padding: 0;
        font-size: 14px;
      }

      .integrations li {
        display: inline;
        margin: 0 16px 0 0;
        padding: 4px 12px;
        font-weight: 500;
        color: #fff;
        opacity: 0.8;
        background: rgba(255, 170, 0, 0.15);
        border-radius: 999px;
      }

      .integrations li:last-child {
        margin: 0;
      }

      /* Responsiveness -- default design is for a large screen, this step down is for a small screen, and below is mobile. */
      @media only screen and (max-width: 1000px) {
        body > * {
          padding: 0 40px;
        }

        footer {
          padding-top: 20px;
        }

        h1 {
          font-size: 120px;
          letter-spacing: -2.5px;
          margin: 0px 0px 20px 0px;
        }

        header nav a {
          margin-left: 20px;
        }

        main {
          margin: 20px 0px;
        }

        h2 {
          font-size: 30px;
        }

        h4 {
          font-size: 16px;
        }

        .content {
          max-width: 800px;
          margin: 40px 0;
        }

        ul.integrations {
          margin: -12px 0 0 34px;
          font-size: 11px;
        }

        .integrations li {
          margin: 0 16px 0 0;
          padding: 3px 10px;
        }
      }

      @media only screen and (max-width: 768px) {
        body {
          font-size: 16px;
        }

        body > * {
          padding: 0 16px;
        }

        body.showing-menu main,
        body.showing-menu footer {
          display: none;
        }

        header {
          height: auto;
          display: flex;
          justify-content: space-between;
          padding: 28px 16px;
          margin-bottom: 24px;
        }

        header nav {
          width: auto;
        }

        .nav-menu {
          display: none;
          position: absolute;
          top: 76px;
          left: 0;
          right: 0;
          bottom: 0;
          padding: 16px 0;
          background: #161412;
          overflow: auto;
        }

        body.showing-menu .nav-menu {
          display: unset;
        }

        .nav-menu li a {
          display: block;
          padding: 16px;
          margin: 0;
          font-size: 24px;
        }

        .nav-menu-button {
          display: unset;
        }

        body.showing-menu .nav-menu-icon-show {
          display: none;
        }

        .nav-menu-icon-hide {
          display: none;
        }

        body.showing-menu .nav-menu-icon-hide {
          display: unset;
        }

        .nav-menu .primary-link-button {
          width: 100%;
          margin: 0 24px;
        }

        main {
          margin: 20px 0px;
        }

        footer {
          height: 100px;
          padding-top: 10px;
        }

        h1 {
          font-size: 80px;
          letter-spacing: -2px;
          margin: 20px 0;
        }

        h2 {
          font-size: 18px;
          line-height: 140%;
          margin: 0 0 8px 0;
        }

        h4 {
          font-size: 12px;
          letter-spacing: 2px;
          margin: 20px 0 4px 0;
        }

        p {
          margin: 0 0 16px 0;
        }

        video {
          border-radius: 0;
          margin: 10px 0;
          /* full-bleed */
          width: 100vw;
          position: relative;
          left: 50%;
          right: 50%;
          margin-left: -50vw;
          margin-right: -50vw;
        }

        .content {
          margin: 20px 0;
        }

        .left img {
          order: 0;
        }

        .horizontal {
          flex-direction: column;
        }

        .horizontal.left .text,
        .horizontal.right .text {
          margin: 0;
        }

        ul.integrations {
          margin: -4px 0 0 20px;
          font-size: 8px;
          font-weight: 600;
          letter-spacing: 0.3px;
        }

        .integrations li {
          margin: 0 3px 0 0;
          padding: 2px 6px;
        }
      }
    

html { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; height: 100%; }
body { display: flex; flex-direction: column; min-height: 100%; margin: 0px; font-size: 16px; font-weight: 300; line-height: 1.6; color: rgba(255, 255, 255, 0.85); background-color: rgb(22, 20, 18); }
header { flex: 0 0 auto; height: 60px; padding: 0px 0px 0px 60px; display: flex; align-items: center; }
main { flex: 1 0 0%; display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center; }
footer { flex: 0 0 auto; height: 110px; background-color: rgb(15, 13, 10); padding: 20px 0px 10px 60px; }
a { color: rgb(255, 255, 255); font-weight: 500; text-decoration: none; }
h1 { font-size: 60px; line-height: 0.9; }
h2 { margin: 20px 0px; font-size: 12px; font-weight: 200; text-transform: uppercase; letter-spacing: 2px; color: rgb(255, 170, 0); }
.request-access-form { display: flex; flex-wrap: wrap; width: 440px; max-width: 90%; padding: 6px; background: linear-gradient(rgba(255, 238, 204, 0.08) 0%, rgba(255, 255, 255, 0.11) 100%); border: 1px solid rgba(255, 238, 204, 0.05); border-radius: 3px; box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 20px, rgba(255, 170, 0, 0.1) 0px 0px 50px; align-items: center; margin: 40px auto 100px; }
.request-access-form:hover { background: linear-gradient(rgba(255, 255, 255, 0.11) 0%, rgba(255, 255, 255, 0.14) 100%); }
#email-input, .email-input { flex: 1 1 auto; height: 50px; margin: 0px 20px; padding: 0px; background: none; border: none; font-size: 16px; color: rgb(255, 255, 255); letter-spacing: 0.3px; outline: none; }
#email-input::placeholder, .email-input::placeholder { color: rgba(255, 255, 255, 0.5); opacity: 1; font-weight: 300; letter-spacing: 0.3px; }
.button-submit { flex: 0 0 auto; min-height: 50px; padding: 0px 30px 1px; background: linear-gradient(rgb(255, 102, 26) 0%, rgb(255, 71, 5) 100%); border: none; border-radius: 3px; font-size: 15px; font-weight: 500; color: rgb(255, 255, 255); line-height: 1; cursor: pointer; outline: none; letter-spacing: 0.15px; }
button[disabled] { opacity: 0.33; }
.button-submit > div { display: flex; flex-direction: column; margin: 12px 0px; }
#error-message, .error-message { display: none; white-space: pre; font-size: 11px; line-height: 130%; margin: 3px; }
.button-submit:focus { box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 0px 1px; }
.link { appearance: none; background: transparent; font: inherit; color: rgb(255, 255, 255); margin: 0px; padding: 0px; border: 0px; }
.link:active { outline: none; }
.link:hover { cursor: pointer; }
footer { font-size: 13px; }
.nobr { white-space: nowrap; }
.legal { opacity: 0.3; line-height: 150%; }
.legal li { display: inline; margin: 0px 16px 0px 0px; }
.legal li:last-child { margin: 0px; }
ul.legal { list-style-type: none; margin: 0px; padding: 0px; }
.or::before, .or::after { content: ""; display: inline-block; height: 1px; width: 40px; margin: 0px 10px; vertical-align: middle; background: rgba(255, 255, 255, 0.3); }
.hidden { display: none; }
@media only screen and (max-width: 500px) {
  form { flex-direction: column; align-items: stretch !important; }
  input { margin: 0px 20px 10px; }
  header { padding: 0px 0px 0px 30px; }
  footer { padding: 20px 0px 10px 30px; }
  .request-access-form { width: 90%; }
}

body { font-size: 22px; line-height: 170%; font-weight: 400; color: rgb(204, 204, 204); }
body > * { padding: 0px 140px; }
header { height: 120px; flex: 0 0 auto; display: flex; align-items: center; }
header a, footer a { text-decoration: none; }
header nav { width: 100%; }
.nav-menu { list-style-type: none; margin: 0px; padding: 0px; display: flex; justify-content: flex-end; }
.nav-menu li { display: flex; align-items: center; justify-content: center; }
header nav a { margin-left: 40px; }
.nav-menu-button { display: none; }
.primary-link-button { display: inline-flex; align-items: center; justify-content: center; padding: 12px 24px; font-size: 22px; line-height: 22px; text-align: center; white-space: nowrap; text-decoration: none; border-radius: 9999px; background: rgb(255, 71, 0); }
.primary-link-button.glow { --glow: 0px 0px 100px rgba(255, 71, 0, 0.2); --glow-hover: 0px 0px 25px 0px rgba(255, 71, 0, 0.4); box-shadow: var(--glow); transition-property: opacity, box-shadow; transition-duration: 0.175s; }
.primary-link-button.glow:hover { box-shadow: var(--glow-hover); }
#logotype { height: 40px; width: auto; display: block; }
.banner { display: flex; align-items: center; margin: 24px auto 0px; flex: 0 0 auto; min-height: 44px; padding: 0px 24px 1px; background: rgb(22, 20, 18); border: none; border-radius: 4px; box-shadow: rgba(255, 71, 0, 0.5) 0px 0px 0px 0.5px inset, rgba(255, 72, 0, 0.2) 0px 0px 28px; color: rgb(255, 255, 255); line-height: 1; cursor: pointer; outline: none; font-size: 15px; font-weight: 400; text-decoration: none; letter-spacing: 0.15px; transition: box-shadow 0.175s; }
.banner:hover { box-shadow: rgba(255, 71, 0, 0.75) 0px 0px 0px 0.5px inset, rgba(255, 72, 0, 0.2) 0px 0px 28px; }
main { margin: 0px; flex: 1 0 0%; display: flex; flex-direction: column; }
footer { flex: 0 0 auto; min-height: 120px; background-color: rgb(15, 13, 10); padding-top: 20px; padding-bottom: 40px; }
h1 { font-size: 140px; line-height: 90%; letter-spacing: -3px; color: rgb(255, 255, 255); margin: 0px 0px 40px; }
h2 { font-size: 40px; font-weight: 600; line-height: 120%; color: rgb(255, 255, 255); text-transform: unset; letter-spacing: unset; margin: 0px 0px 20px; }
h4 { font-size: 20px; font-weight: 600; letter-spacing: 3px; text-transform: uppercase; opacity: 0.8; margin: 20px 0px; }
p { margin: 0px 0px 20px; }
a { text-decoration: underline; }
strong { font-weight: 600; color: rgb(255, 255, 255); }
img, video { width: 100%; }
video { border-radius: 16px; margin: 20px 0px; }
.content { max-width: 1000px; margin: 80px 0px; }
.cta { padding: 40px 0px 100px; }
.left { align-self: flex-start; }
.left img { order: -1; }
.right { align-self: flex-end; }
.horizontal { display: flex; align-items: center; }
.horizontal.left .text { margin: 0px 0px 0px 40px; }
.horizontal.right .text { margin: 0px 20px 0px 0px; }
.primary { color: rgb(255, 170, 0); }
.symbol { opacity: 0.7; }
.nobr { white-space: nowrap; }
ul.integrations { list-style-type: none; margin: -12px 0px 0px 50px; padding: 0px; font-size: 14px; }
.integrations li { display: inline; margin: 0px 16px 0px 0px; padding: 4px 12px; font-weight: 500; color: rgb(255, 255, 255); opacity: 0.8; background: rgba(255, 170, 0, 0.15); border-radius: 999px; }
.integrations li:last-child { margin: 0px; }
@media only screen and (max-width: 1000px) {
  body > * { padding: 0px 40px; }
  footer { padding-top: 20px; }
  h1 { font-size: 120px; letter-spacing: -2.5px; margin: 0px 0px 20px; }
  header nav a { margin-left: 20px; }
  main { margin: 20px 0px; }
  h2 { font-size: 30px; }
  h4 { font-size: 16px; }
  .content { max-width: 800px; margin: 40px 0px; }
  ul.integrations { margin: -12px 0px 0px 34px; font-size: 11px; }
  .integrations li { margin: 0px 16px 0px 0px; padding: 3px 10px; }
}
@media only screen and (max-width: 768px) {
  body { font-size: 16px; }
  body > * { padding: 0px 16px; }
  body.showing-menu main, body.showing-menu footer { display: none; }
  header { height: auto; display: flex; justify-content: space-between; padding: 28px 16px; margin-bottom: 24px; }
  header nav { width: auto; }
  .nav-menu { display: none; position: absolute; inset: 76px 0px 0px; padding: 16px 0px; background: rgb(22, 20, 18); overflow: auto; }
  body.showing-menu .nav-menu { display: unset; }
  .nav-menu li a { display: block; padding: 16px; margin: 0px; font-size: 24px; }
  .nav-menu-button { display: unset; }
  body.showing-menu .nav-menu-icon-show { display: none; }
  .nav-menu-icon-hide { display: none; }
  body.showing-menu .nav-menu-icon-hide { display: unset; }
  .nav-menu .primary-link-button { width: 100%; margin: 0px 24px; }
  main { margin: 20px 0px; }
  footer { height: 100px; padding-top: 10px; }
  h1 { font-size: 80px; letter-spacing: -2px; margin: 20px 0px; }
  h2 { font-size: 18px; line-height: 140%; margin: 0px 0px 8px; }
  h4 { font-size: 12px; letter-spacing: 2px; margin: 20px 0px 4px; }
  p { margin: 0px 0px 16px; }
  video { border-radius: 0px; margin: 10px -50vw; width: 100vw; position: relative; left: 50%; right: 50%; }
  .content { margin: 20px 0px; }
  .left img { order: 0; }
  .horizontal { flex-direction: column; }
  .horizontal.left .text, .horizontal.right .text { margin: 0px; }
  ul.integrations { margin: -4px 0px 0px 20px; font-size: 8px; font-weight: 600; letter-spacing: 0.3px; }
  .integrations li { margin: 0px 3px 0px 0px; padding: 2px 6px; }
}